<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container"></div>
<div class="wrap">
  <div class="sidebar">
    <img src="../assets/impala.jpg" class="logo">
    <h2>Hey you!</h2>
    <p class="feel">You feel lost ?</p>

    <p class="p">The number of lines in a paragraph depends
       on the size of the browser window If you resize
        the browser window the number of lines in this 
        paragraph will change The number of lines .
    </p>

    <ul>
      <li>Bullet Point 1</li>
      <br>
      <li>Bullet Point 2</li>
      <br>
      <li>Bullet Point 3</li>
    </ul>
  </div>

  <div class="content">
    <div class="header">
      <h3>Sign Up /<span>Login</span></h3>
    </div>
    <div class="body">
      <div class="form cn">
        <h3>We will need..</h3>
        <form>
          <div class="form-group">
            <input type="text" placeholder="your name" />
            <img class="icons" src="../assets/name.png" type="icon">
          </div>


          <div class="form-group">
            <div class="feedback"></div>
            <input type="text" placeholder="your email address" />
            <img class="icons" src="../assets/email.jpg" type="icon">
          </div>




          <div class="form-group">
            <input type="password" placeholder=" Your Password" required />
            <img class="icons" src="../assets/padlock.jpg" type="icon">
          </div>



          <div class="form-group">
            <input type="password" placeholder="One more time ?" required />
            <img class="icons" src="../assets/confirm.png" type="icon">
          </div>



        </form>
      </div>

      <div class="separator cn">
        <div class="v1"></div>
        <p style="font-size: 30px">or</p>
        <div class="v2"></div>
      </div>
      <div class="facebook cn">
            <h2 style ="margin-left: 40px ">Also you can ...</h2>
          </div>
          <div class="login">
              <button>login on<i class="fa size:9x fa-facebook-official" aria-hidden="true"></i></button>
          </div>
    </div>
   
    <div class="questionnare">
            <button> Get to the questionnare</button>
            </div>
  </div>


</div>
